/*Start of general formatting of the website*/

.html, body{
    overflow-x: hidden;
    width: 100%;
    height: auto;
}

body{
    background-color: orange;
    background-attachment: fixed;
    background-image: url(images/orange_gray_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*End of general formatting of the website*/

/*Start of styling for logo at the top of the page*/

header{
    height: 118px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

/*End of styling for logo at the top of the page*/

/*Start of the navigation bar at the top of the page*/

nav{
    background-color: rgba(128, 128, 128, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 85x;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:hover{
    color: gray;
}

nav .clickablebtn{
    font-size: 25px;
    border-radius: 10px;
    padding: 11px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(128, 128, 128, 0);
}

/*End of the navigation bar at the top of the page*/

/*Start of the login box on the right side of the page*/
    
.form{
    width: 285px;
    height: -242px;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.8) 50%);
    top: 267px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
    padding-top: 40px;
    margin-left: 1245px;
    margin-top: 190px;
}

.form h2{
   width: 235px;
   font-family: sans-serif;
   text-align: center;
   color: orange;
   font-size: 22px;
   background-color: white;
   border-radius: 10px;
   margin: 2px;
   padding: 8px;
}

.form input{
    width: 240px;
    height: 55px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
    text-align: center;
}

.btn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: orange;
    transition: 0.4s ease;
}

.btn:hover{
    background: white;
    color: orange;
}

.btn a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
    color: white;
}

.form .link a{
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

/*End of the login box on the right side of the page*/

/*Start of the image slider showcase in the middle of the page*/

.slider-preview{
    margin: 0;
    overflow: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 150px;
    padding-bottom: 375px;
}

.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: center;
    float: left;
}


.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 700px;
    height: 500px;
}

/*start of manual slide navigation*/

.manual-btn{
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*end of manual navigation*/

/*End of the image slider showcase in the middle of the page*/

/*Start of styling for 3x3 image grid on index.html*/

.recent-adopters{
    margin-top: -430px;
    text-align: center;
    padding-bottom: 110px;
}

.parent h1{
    width: 250px;
    height: 160px;
    font-family: sans-serif;
    font-size: 50px;
    color: orange;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.8) 25%);
    border-radius: 10px;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
}

.parent p{
    padding-top: 300px;
}

.parent{
    display: grid;
    grid-gap: 210px;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, 140px);
    box-sizing: border-box;
    margin-left: 200px;
    padding-top: 60px;
}

.parent > div{
    padding: 10px;
    border-radius: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 23px;
    height: 300px;
    display: grid;
    place-items: center;
    background-size: cover;
}

.photo1{
    background: url(images/chloe.jpg);
    background-position: center;

}

.photo2{
    background: url(images/oscar.jpg);
    background-position: center;
}

.photo3{
    background: url(images/francis.jpg);
    background-position: center;
}

.photo4{
    background: url(images/max.jpg);
    background-position: center;
}

.photo5{
    background: url(images/sheryl.jpg);
    background-position: center;
}

.photo6{
    background: url(images/alvin.jpg);
    background-position: center;
}

.photo7{
    background: url(images/zeus.jpg);
    background-position: center;
}

.photo8{
    background: url(images/fiona.jpg);
    background-position: center;
}

/*End of styling for 3x3 image grid on index.html*/

/*Start of styling footer at the bottom of the page*/

.footer{
    padding: 40px 0;
    background-color: transparent;
}

.footer .social{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 100px;
    color: white;
}

.footer .social a{
    font-size: 40px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
    color: darkorange;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-size: 28px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer ul li a:hover{
    opacity: 1;
    color: darkorange;
}

.footer .copyright{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
}

/*End of styling footer at the bottom of the page*/

/*Styling signup.html page*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.login-box{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -130px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: white;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: black;
}

.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: orange;
}

.wrapper form{
  margin-top: 30px;
}


.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid black;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

::placeholder{
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.input-box input:focus,
.input-box input:valid{
  border-color: orange;
}

form .policy{
  display: flex;
  align-items: center;
}

form h3{
  color: black;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button input{
  color: black;
  letter-spacing: 1px;
  border: none;
  background: orange;
  cursor: pointer;
}

.input-box.button input:hover{
  background: gray;
}

form .text h3{
 color: black;
 width: 100%;
 text-align: center;
}

form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}

form .text h3 a:hover{
  text-decoration: underline;
}

/*End of signup.html page styling*/

/*Styling Adopt.html page*/

.adoption{
    background: #fff;
    width: 1100px;
    margin:0 auto;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

/*End Styling Adopt.html page/

/*Start of styling for services & fees page*/

.service-fees {
    background: #fff;
    width: 1100px;
    margin:0 auto;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
  
.service-fees h2, .service-fees p{
    margin: 10px 0;
}  

/*End of styling for services & fees page*/

/*Start of styling for support our project page*/

.adoptionpage{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    font-style: bold;
    font-weight: 100;
    background-color: transparent;
    text-align: center;
}

.adoptionbox{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: white;
    color: black;
    margin-left: 750px;
    margin-right: 750px;
    width: 550px;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.adoptionbox h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: black;
}
  
.adoptionbox h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
}

.adoptionbox form{
    margin-top: 10px;
}
  
.adoptionbox form .input-box{
    height: 52px;
    margin: 18px 0;
}

form .adoptioninput-box{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid black;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  
  ::placeholder{
      color: darkgray;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }


/*End of styling for support our project page*/

/*Start of styling for contact page*/

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: -250px;
    color: white;
}

.contact .content p{
    font-weight: 300;
    font-size: 23px;
}

.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container2 .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container2 .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container2 .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container2 .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container2 .contactInfo .box h3{
    font-weight: 500;
    font-weight: bold;
    font-size: 30px;
    color: black;
}

.container2 .contactInfo .box p{
    font-size: 20px;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}

.contactForm h2{
    font-size: 30px;
    color: orange;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid orange;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: gray;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="Submit"]{
    width: 100px;
    background: orange;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/*End of styling for contact page*/